.blue-l5 {color:#000 !important; background-color:#f3f4fb !important}
.blue-l4 {color:#000 !important; background-color:#d8dcf1 !important}
.blue-l3 {color:#000 !important; background-color:#b1b8e3 !important}
.blue-l2 {color:#fff !important; background-color:#8995d6 !important}
.blue-l1 {color:#fff !important; background-color:#6271c8 !important}
.blue-d1 {color:#fff !important; background-color:#3949a3 !important}
.blue-d2 {color:#fff !important; background-color:#334191 !important}
.blue-d3 {color:#fff !important; background-color:#2d397f !important}
.blue-d4 {color:#fff !important; background-color:#26316d !important}
.blue-d5 {color:#fff !important; background-color:#20295b !important}

.grey-l5 {color:#000 !important; background-color:#f6f6f6 !important}
.grey-l4 {color:#000 !important; background-color:#dfdfdf !important}
.grey-l3 {color:#000 !important; background-color:#c0c0c0 !important}
.grey-l2 {color:#fff !important; background-color:#a0a0a0 !important}
.grey-l1 {color:#fff !important; background-color:#818181 !important}
.grey-d1 {color:#fff !important; background-color:#575757 !important}
.grey-d2 {color:#fff !important; background-color:#4e4e4e !important}
.grey-d3 {color:#fff !important; background-color:#444444 !important}
.grey-d4 {color:#fff !important; background-color:#3a3a3a !important}
.grey-d5 {color:#fff !important; background-color:#303030 !important}

.red-l5 {color:#000 !important; background-color:#fef4f3 !important}
.red-l4 {color:#000 !important; background-color:#fdd9d6 !important}
.red-l3 {color:#000 !important; background-color:#fbb3ae !important}
.red-l2 {color:#000 !important; background-color:#f98d85 !important}
.red-l1 {color:#fff !important; background-color:#f6665c !important}
.red-d1 {color:#fff !important; background-color:#f32617 !important}
.red-d2 {color:#fff !important; background-color:#e11a0c !important}
.red-d3 {color:#fff !important; background-color:#c5170a !important}
.red-d4 {color:#fff !important; background-color:#a91409 !important}
.red-d5 {color:#fff !important; background-color:#8d1007 !important}

.amber-l5 {color:#000 !important; background-color:#fffbf0 !important}
.amber-l4 {color:#000 !important; background-color:#fff3cd !important}
.amber-l3 {color:#000 !important; background-color:#ffe69b !important}
.amber-l2 {color:#000 !important; background-color:#ffda69 !important}
.amber-l1 {color:#000 !important; background-color:#ffcd37 !important}
.amber-d1 {color:#000 !important; background-color:#eab000 !important}
.amber-d2 {color:#fff !important; background-color:#d09c00 !important}
.amber-d3 {color:#fff !important; background-color:#b68900 !important}
.amber-d4 {color:#fff !important; background-color:#9c7500 !important}
.amber-d5 {color:#fff !important; background-color:#826200 !important}

.green-l5 {color:#000 !important; background-color:#f8fbf4 !important}
.green-l4 {color:#000 !important; background-color:#e8f3db !important}
.green-l3 {color:#000 !important; background-color:#d1e7b7 !important}
.green-l2 {color:#000 !important; background-color:#b9db93 !important}
.green-l1 {color:#000 !important; background-color:#a2cf6f !important}
.green-d1 {color:#fff !important; background-color:#7eb63d !important}
.green-d2 {color:#fff !important; background-color:#70a236 !important}
.green-d3 {color:#fff !important; background-color:#628e2f !important}
.green-d4 {color:#fff !important; background-color:#547a29 !important}
.green-d5 {color:#fff !important; background-color:#466522 !important}

.white {color:#000 !important; background-color:#ffffff !important}
.green {color: green}
.red {color: red}
.blue {color: blue}